APP_NAME=Uber-RAG API
APP_VERSION=0.1.0
POSTGRES_USER=uber_rag
POSTGRES_PASSWORD=uber_rag
POSTGRES_DB=uber_rag
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
